language: node_js
sudo: required
services:
  - docker
cache:
   directories:
     - node_modules
node_js:
  - 8
before_script:
  - echo "Branch... $TRAVIS_BRANCH"
  - docker build -t registry.heroku.com/heroku-docker-example/web .
after_success:
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD" registry.heroku.com;
    docker push registry.heroku.com/heroku-docker-example/web;
    fi
